{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="static/css/main.css">
{% endblock %}
{% block title %}Cocktail Finder{% endblock %}


{% block content %}
<div id="mainApp">

  <div class="row">

    <div class="col-sm-0 col-md-3">
    </div>

  <div class="col-sm-12 col-md-9">
  <h1>Cocktail Finder</h1>
</div>

</div>

<div class="row">

<div class="col-sm-12 col-md-3" id="sideBar">
  <h2>Sort By:</h2>
  <ul id="menu">

    <li><a href="/Gin">Gin</a></li>
    <li><a href="/Vodka">Vodka</a></li>
    <li><a href="/Whiskey">Whiskey</a></li>
    <li><a href="/Rum">Rum</a></li>
    <li><a href="/Tequila">Tequila</a></li>
    <li><a href="/Cognac">Cognac</a></li>
    <li><a href="/Other">Other</a></li>
    <li><a href="/">See All</a></li>
  </ul>
  <br>
  <h2><a id="aboutButton">About</a></h2>
</div>

  <div class="col-sm-12 col-md-9">

    {% for cocktail in cocktails
        if cocktail.alcohol != "Gin" and cocktail.alcohol != "Vodka" and cocktail.alcohol != "Whiskey" and cocktail.alcohol != "Rum" and cocktail.alcohol != "Tequila" and cocktail.alcohol != "Cognac" %}
          <a class="drinkSquare {{ cocktail.alcohol }}" href="/drink/{{ cocktail.name }}"> {{ cocktail.name }}</a>


    {% endfor %}
  </div>
</div>
</div>

<div id="aboutPage">
  <div class="row">
    <div class="col-sm-0 col-md-3">
    </div>

    <div class="col-sm-12 col-md-9">
    <h1>About</h1>
  </div>

</div>
<div class="row">
  <div class="col-sm-0 col-md-3">
    <h2><a id="backButton">Go Back</a></h2>
  </div>
<div class="col-sm-12 col-md-9">
<p><p>Cocktail Finder is the culmination of the web development skills I have learned over the course of two semesters. The data seen on this page was gathered with a Python web scraper from the Wikipedia page for the International Bartending Association’s <a href="https://en.wikipedia.org/wiki/List_of_IBA_official_cocktails">list</a> of official cocktails. This cocktail scraper (see the github repo <a href="https://github.com/saranettle/wikipedia-cocktail-scraper">here</a>) collected the name, primary alcohol, and the ingredients and then saved this information to a .csv file. Afterwards, I took this .csv file and converted it into a MySQL database. Finally, I used the Flask Python framework to create this website and dynamically generate pages for each drink. Creating this web app was challenging on all levels, but I am excited to share it with everyone. Please check out the <a href"https://github.com/saranettle/cocktail-finder">github repo</a> to learn more!</p></p>
</div>

  </div>

  </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="/static/js/main.js"></script>
{% endblock %}
